.step1-main {
  width: 100%;
  padding: 72px 160px 72px 160px;
  gap: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0px;
  box-sizing: border-box;
}

.step1-main1 {
  width: 100%;
  padding: 48px 160px 48px 160px;
  gap: 64px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
