.productDetailsPage-row1 {
  width: 100% !important;
  padding: 40px 160px !important;
  gap: 16px !important;
  box-sizing: border-box !important;
  background-color: white !important;
}

.productDetailsPage-row2 {
  width: 100% !important;
  padding: 112px 160px !important;
  gap: 48px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  box-sizing: border-box !important;
  background-color: white !important;
}

.productDetailsPage-col {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.productDetailsPage-row2-dv1 {
  gap: 48px !important;
  margin-right: 48px !important;
  box-sizing: border-box !important;
}

.productDetailsPage-row2-dv2 {
  width: 536px !important;
  /* height: 672px !important; */
  gap: 32px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  box-sizing: border-box !important;
}

.productDetailsPage-row3 {
  width: 100% !important;
  padding: 80px 160px !important;
  gap: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box !important;
  background-color: #fafafa !important;
}
