/* homeAv5.css */
.homeAv5Banners {
  width: 100%;
  /* display: flex; */
  padding: 56px 0 0 0;
  background-color: white;
  margin: 0px !important;
  /* gap: 0px !important; */
}

.homeAv5Banners.container-fluid {
  padding: 0px !important;
  /* margin: 0px !important; */
}

.homeAv5Banners-row {
  display: flex !important;
  padding: 0 !important;
  margin: 0 !important;
}

.homeAv5Banners .row > * {
  display: flex;
  /* width: 100%; */
  flex-wrap: wrap;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin: 0px !important;
}

/* .row {
  padding: 0px !important;
  margin: 0px !important;
} */

.homeAv5BannerCol {
  display: flex !important;
  /* width: 100%; */
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 16px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
