.productsPageA2-acr {
  width: 100%;
  max-width: 256px;
  gap: 24px;
}

.accordion-header-nm {
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: black;
}

.accordion-body {
  padding: 0 !important;
}

.search-form-container {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.accordion-item {
  width: 100%;
}

.searchFormEP-b {
  margin-top: 16px;
  margin-bottom: 16px;
}

.brand-options {
  margin-top: 16px;
}

.brand-option {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox .form-check-input {
  background-color: white; /* Varsayılan durumda beyaz arka plan */
  color: black; /* Varsayılan durumda siyah metin */
  /* box-shadow: none; */
}

.custom-checkbox .form-check-input:checked {
  background-color: black; /* Seçildiğinde siyah arka plan */
  color: white; /* Seçildiğinde beyaz metin */
  /* box-shadow: none; */
}
