.productsPageA2-acr {
  width: 100%;
  max-width: 256px;
  gap: 24px;
}

.accordion-header-nm {
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: black;
}

.accordion-body {
  padding: 0 !important; /* Accordion içeriği için padding'i kaldır */
}

.search-form-container {
  width: 100%;
  padding: 0; /* Arama formunun padding'ini kaldır */
  box-sizing: border-box;
}

.accordion-item {
  width: 100%;
}

.searchFormEP-b {
  margin-top: 16px;
  margin-bottom: 16px;
}
