.home-av1 {
  background-color: #211c24;
  width: 100%;
  height: 632px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px, 160px, 0px, 160px;
  margin: 0;
  box-sizing: border-box;
  gap: 0;
  /* opacity: 0; */
}
