.homeAv5R1Card {
  border: none !important;
  box-sizing: border-box !important;
  width: 100% !important;
  height: 640px !important;
  display: inline-block !important;
  vertical-align: top !important;
  margin-right: 0px !important;
  border-radius: 0px !important;
  /* gap: 0 !important; */
}

.homeAv5R1Card-img {
  height: 327px; /* Resim yüksekliği ayarı */
  /* object-fit: cover; */
}

.homeAv5R1Card-bdy {
  margin-right: 32px !important;
  margin-left: 32px !important;
}

.homeAv5R1Card-1 {
  background-color: white !important;
  /* margin: 0px !important; */
  /* padding: 0px !important; */
}

.homeAv5R1Card-2 {
  background-color: #f9f9f9 !important;
  /* margin: 0px !important; */
  /* padding: 0px !important; */
}
.homeAv5R1Card-3 {
  background-color: #eaeaea !important;
  /* margin: 0px !important; */
  /* padding: 0px !important; */
}
.homeAv5R1Card-4 {
  background-color: #2c2c2c !important;
  /* margin: 0px !important; */
  /* padding: 0px !important; */
}

.homeAv5R1Card-title {
  font-family: "SF Pro Display", sans-serif !important;
  font-size: 33px !important;
  font-weight: 300 !important;
  line-height: 48px !important;
  text-align: left !important;
  margin-bottom: 16px !important; /* Başlık alt boşluk */
  margin-top: 27px !important;
}

.homeAv5R1Card-title-1 {
  color: black !important;
  /* margin-top: -57px !important; */
}

.homeAv5R1Card-title-2 {
  color: black !important;
}
.homeAv5R1Card-title-3 {
  color: black !important;
}
.homeAv5R1Card-title-4 {
  color: white !important;
}

.homeAv5R1Card-desc {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #909090;
}

.homeAv5R1Card-btn {
  font-family: "SF Pro Display", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  text-align: center !important;
  width: 184px !important;
  height: 56px !important;
  padding: 16px 56px 16px 56px !important;
  gap: 8px !important;
  border-radius: 6px !important;
  border: 1px solid !important;
  opacity: 0px !important;
  background-color: white !important;
  color: black !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  text-wrap: nowrap !important;
  cursor: pointer;
  margin-top: 16px !important;
  margin-bottom: 56px !important;
}

.homeAv5R1Card-btn-4 {
  font-family: "SF Pro Display", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  text-align: center !important;

  width: 184px !important;
  height: 56px !important;
  padding: 16px 56px 16px 56px !important;
  gap: 8px !important;
  border-radius: 6px !important;
  border: 1px solid !important;
  opacity: 0px !important;
  background-color: #2c2c2c !important;
  color: white !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  text-wrap: nowrap !important;
}
