.shoppingCart-main {
  width: 100%;
  padding: 112px 160px;
  gap: 48px;
  opacity: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.shoppingCart-main-leftSide {
  width: 100%;
  gap: 40px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-right: 48px;
}

.shoppingCart-main-leftSide-sc-spn {
  font-family: "SF Pro Display", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: black;
}

.shoppingCart-main-leftSide-products {
  width: 100%;
  gap: 40px;
  border-radius: 15px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.shoppingCart-main-leftSide-products-a1 {
  width: 100%;
  padding: 16px 0px;
  gap: 15px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.shoppingCart-main-leftSide-products-a1-spn-bx {
  width: 193px;
  gap: 8px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.shoppingCart-main-leftSide-products-a1-spn-bx-text1 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: black;
}

.shoppingCart-main-leftSide-products-a1-spn-bx-text2 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000;
  margin-top: 8px;
}

.shoppingCart-main-leftSide-products-a1-mines {
  width: 24px;
  height: 24px;
  padding: 0px 8px;
  gap: 0px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  margin-right: 8px;
}

.shoppingCart-main-leftSide-products-a1-number {
  width: 40px;
  padding: 8px 16px;
  gap: 8px;
  border-radius: 4px;
  opacity: 1;
  border: 0.5px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.shoppingCart-main-leftSide-products-a1-plus {
  width: 24px;
  height: 24px;
  gap: 0px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  margin-right: 24px;
}

.shoppingCart-main-leftSide-products-a1-price {
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.03em;
  text-align: left;
  color: black;
  margin-right: 24px;
}

.shoppingCart-main-leftSide-products-a1-close {
  width: 24px;
  height: 24px;
  gap: 0px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
}

.shoppingCart-main-leftSide-products-a1-hr {
  width: 100%;
  height: 0px;
  gap: 0px;
  opacity: 1;
  border: 0.5px solid #a3a3a3;
  margin-bottom: 40px;
}

.shoppingCart-main-rightSide {
  width: 100% !important;
  padding: 56px 64px !important;
  gap: 40px !important;
  border-radius: 10px;
  opacity: 1;
  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}

.shoppingCart-main-rightSide-text-os {
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #111111;
}

.shoppingCart-main-rightSide-bx {
  width: 100% !important;
  gap: 48px !important;
  box-sizing: border-box !important;
  margin-bottom: 24px !important;
}

.form-group {
  width: 100% !important;
  gap: 8px !important;
  opacity: 1 !important;
  box-sizing: border-box !important;
  position: relative !important;
}

.form-group-lbl {
  font-family: "SF Pro Display", sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  text-align: left !important;
  color: #545454 !important;
  margin-bottom: 8px !important;
}

.form-control {
  width: 100% !important;
  padding: 16px !important;
  gap: 0px !important;
  border-radius: 7px !important;
  justify-content: space-between !important;
  opacity: 1 !important;
  background-color: white !important;
  border: 0.5px solid #9f9f9f !important;
  /* display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: space-between !important; */
}

.form-control::placeholder {
  font-family: "SF Pro Display", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  letter-spacing: -0.005em !important;
  text-align: left !important;
  color: #979797 !important;
}

.error-message {
  color: red !important;
  font-size: 14px !important;
  margin-top: 8px !important;
  position: absolute !important;
  bottom: -20px !important;
}

.apply-button {
  width: 100% !important;
  position: absolute !important;
  right: 16px !important;
  top: 50% !important;
  /* transform: translateY(50%) !important; */
  width: 76.45px !important;
  padding: 8px !important;
  gap: 8px !important;
  border-radius: 6px !important;
  opacity: 1 !important;
  border: 1px solid #000000;
  background-color: white !important;
  color: black !important;
  font-family: "SF Pro Display", sans-serif !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  text-align: center !important;
  cursor: pointer !important;
  /* display: grid !important; */
  /* place-items: center !important; */
}

.apply-button:hover {
  background-color: #000000 !important;
  color: white !important;
}

.apply-button:disabled {
  background-color: #cccccc !important;
  cursor: not-allowed !important;
}

.apply-button:hover:not(:disabled) {
  background-color: #000000 !important;
  color: white !important;
}

.shoppingCart-main-rightSide-subText {
  width: 100%;
  gap: 16px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 48px;
}

.shoppingCart-main-rightSide-subText1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
}

.shoppingCart-main-rightSide-subText1-s {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: black;
}

.shoppingCart-main-rightSide-subText1-prc1 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.03em;
  text-align: left;
  color: black;
}

.shoppingCart-main-rightSide-subText2 {
  width: 100%;
  gap: 16px;
  opacity: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.shoppingCart-main-rightSide-subText2-e {
  font-family: " SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #545454;
}

.shoppingCart-main-rightSide-subText2-prc1 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.03em;
  text-align: left;
  color: black;
}

.shoppingCart-main-rightSide-btn {
  width: 100%;
  padding: 16px 56px 16px 56px;
  gap: 8px;
  border-radius: 6px;
  opacity: 0px;
  background-color: #000;
  color: white;
  border: none;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.shoppingCart-main-rightSide-btn:hover {
  background-color: white;
  color: black;
}
