.homeAv6R-crdE {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 24px 16px 24px 16px;
  gap: 16px;
  border-radius: 9px;
  opacity: 0px;
  box-sizing: border-box !important;
  background-color: #f6f6f6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.homeAv6R-crdE:hover {
  transform: translateY(-5px);
}

.homeAv6R-imgE {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.homeAv6R-imgE-1 {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  gap: 0px;
  opacity: 0px;
  margin-bottom: -50px !important;
}

.homeAv6R-bdyE {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* align-items: center; */
}

.homeAv6R-dscE {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: black !important;
  /* margin-bottom: 16px !important; */
  width: 236px;
  height: 48px;
}

.homeAv6R-prcE {
  font-family: "SF Pro Display", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: black !important;
  margin-top: 16px;
  margin-bottom: 24px;
}

.favorite-iconDpE {
  align-self: flex-end;
  margin-top: 8px;
}

.styled-button-DpE {
  background-color: black;
  border: none;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: background-color 0.3s ease;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  margin-top: auto;
}

.styled-button-DpE:hover {
  background-color: #575757;
}
