.homeAv4 {
  width: 100%;
  height: 1056px;
  padding: 56px 160px 56px 160px;
  gap: 32px;
  opacity: 0px;
  background-color: white;
}

.homeAv4-tags {
  width: 1120px;
  height: 32px;
  gap: 32px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
