.homeAv4 {
  width: 100%;
  padding: 56px 160px;
  background-color: white;
}

.homeAv4-tags {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.homeAv4-products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homeAv4-products-grid-col {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
